.home-page-section {
  height: 100%
}

.home-page-content {
  display: flex;
  justify-content: center;
}

.home-page-content>div {
  width: 800px;
  background-color: #ffffff;
  /* border-radius: 8px; */
  overflow: hidden;
  margin: 25px;
}