:root {
  --transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  --transition-duration: 0.3s;
}

.taskItem {
  background-color: #ffffff;
  margin: 10px;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  transition: all var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.taskItem:hover {
  transform: scale(1.05, 1.05)
}

.info {
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 20% 20%;
  align-items: center;
  justify-items: center;
}

.info>* {
  position: relative;
  top: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.taskList {
  display: flex;
  flex-direction: column;
}

.expand {
  overflow: hidden;
  height: 160px;
}

.expandContent {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  height: 160px;
  overflow: auto;
}


.reward {
  color: rgb(246, 194, 71);
}

.reward>i {
  margin-right: 5px;
}

.title {

  max-width: 90%;

}

.type {
  border: 1px solid rgba(30, 80, 135, 0.6);
  height: 28px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: rgba(30, 80, 135, 0.6);
}

.publisher {
  max-width: 90%;
}

.date {}


.header {
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 20% 20%;
  align-items: center;
  justify-items: center;
  padding-left: 13px;
  padding-right: 13px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: -10px;
  user-select: none;
}

.header>* {
  position: relative;
  top: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
}