#root,
.layout {
  min-height: 100vh;
}

.layout .logo {
  width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
  color: black;
  text-align: center;
  line-height: 32px;
  float: left;
  font-size: 24px;
}

.logo span {
  width: 200px;
}


.header {
  background-color: white;
  padding-left: 40px;
}

.header .anticon {
  font-size: 20px;
}

.ant-menu-submenu-title {
  line-height: 60px;
}


.header .anticon-user {
  margin-right: 0;
}

.add-task {
  font-size: 20px;
}