#root, .layout {
  height: 100%;
}

.layout .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
  color: black;
  text-align: center;
  line-height: 32px;
}

.logo span {
  width: 100px;
  margin: auto;
}

.header {
  background-color: white;
}

.header .anticon-user {
  margin-right: 0;
}

.content {
  height: 100%;
}